---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import ValueProps from "../components/ValueProps.astro";
import InstallSteps from "../components/InstallSteps.astro";
import FeatureGrid from "../components/FeatureGrid.astro";
import Comparison from "../components/Comparison.astro";
import DemoCTA from "../components/DemoCTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Hero />
  <main id="main">
    <ValueProps />
    <InstallSteps />
    <FeatureGrid />
    <Comparison />
    <DemoCTA />
  </main>
  <Footer />
</Base>
